.model-para{
    font-family:Montsterrat;
    font-size:80px;
    font-weight:bold;
    text-align:center;
    margin-bottom:10px;
}
.order-para{
    text-align:center;
    margin-top:5px;
    font-size:44px;
}