.box-division{
    background-color:red;
    border-color:red;
    width:200px;
    height:200px;
    display:inline-block;
    color:red;
    vertical-align:top;
}
.circle-division{
    display:inline-block;
    margin-left:20px;
    background-color:green;
    color:green;
    width:200px;
    height:200px;
    border-radius:100px;
}
.satisfy-division{
    border:1px solid grey;
    padding:10px;
    border-width:1px;
    width:300px;
    padding-bottom:30px;
    padding-left:20px;
    color:black;
    border-radius:2px;
    margin-top:100px;
    background-color:rgb(240, 239, 239);
}
.install-division{
    margin-top:100px;
    background-color:black;
    display:inline-block;
    width:300px;
    padding-right:20px;
    padding-bottom:20px;
    height:100px;
}
.install-para{
    color:white;
    font-family:Arial;
    font-weight:bold;
    font-size:17px;
    margin-left:15px;
    margin-top:25px;
}
.add-para{
    color:grey;
    font-size:14px;
    margin-left:14px;
}